<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medsci.hello.spring.boot.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.medsci.hello.spring.boot.domain.User">
    <!--@mbg.generated generated on Thu May 14 10:53:13 CST 2020.-->
    <!--@Table `user`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="sex" jdbcType="OTHER" property="sex" />
    <result column="des" jdbcType="LONGVARCHAR" property="des" />
    <result column="status" jdbcType="OTHER" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu May 14 10:53:13 CST 2020.-->
    id, `name`, age, sex, des, `status`, created_at, updated_at
  </sql>

  <select id="selectUser" resultMap="BaseResultMap" resultType="com.medsci.hello.spring.boot.domain.User">
    select * from user;
  </select>

  <select id="findById" parameterType="integer" resultMap="BaseResultMap" resultType="com.medsci.hello.spring.boot.domain.User">
    select * from user where id = #{id};
  </select>

  <select id="selectByNameOrSex" resultMap="BaseResultMap" resultType="com.medsci.hello.spring.boot.domain.User">
    select * from user where name like #{name} or sex like #{sex};
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
     select * from user;
  </select>
</mapper>